<div class="sidebar col-2">
    <ul class="sidebar-nav"
        hx-target="#main-container">
        <li class="sidebar-item">
            <a href="#" hx-get="/catalog/info">Home</a>
        </li>
        <li class="sidebar-item">
            <a href="#" hx-get="/catalog/books">All Books</a>
        </li>
        <li class="sidebar-item">
            <a href="#" hx-get="/catalog/authors">All Authors</a>
        </li>
        <li class="sidebar-item">
            <a href="#" hx-get="/catalog/genres">All Genres</a>
        </li>
        <li class="sidebar-item">
            <a href="#" hx-get="/catalog/bookinstances">All Book-Instances</a>
        </li>
        <li>
            <hr />
        </li>
        <li class="sidebar-item">
            <a href="#" hx-get="/catalog/author/create">Create new Author</a>
        </li>
        <li class="sidebar-item">
            <a href="#" hx-get="/catalog/genre/create">Create new Genre</a>
        </li>
        <li class="sidebar-item">
            <a href="#" hx-get="/catalog/book/create">Create new Book</a>
        </li>
        <li class="sidebar-item">
            <a href="#" hx-get="/catalog/bookinstance/create">Create new Book-Instance</a>
        </li>
    </ul>
</div>
